.blogItem {
  border-radius: var(--borderRadius);
  border-bottom: 2px solid #fff1;
  padding: 32px 24px;
  transition: background-color .3s;
  width: 100%;
}

.blogItem:hover {
  background-color: #fff1;
}

.blogItem__link {
  border-radius: var(--borderRadius);
  text-decoration: none;
}

.blogItem__title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
}

.blogItem__description {
  color: var(--textColor);
  font-size: 16px;
  font-weight: 400;
}

.blogItem__infos {
  display: flex;
  justify-content: space-between;
}

.blogItem__date {
  color: var(--textColor);
  font-size: 14px;
  font-weight: 700;
}

.blogItem__tag {
  background-color: #fff1;
  border-radius: var(--borderRadius);
  color: var(--textColor);
  font-size: 12px;
  font-weight: 400;
  margin-right: 8px;
  padding: 4px 8px;
}
