.section__about,
.section__career {
  padding: 0 0 64px;
}

.section__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section__about__title {
  font-size: 26px;
}

.section__about p {
  color: var(--white-2);
  font-size: 16px;
  line-height: 26px;
}

.section__about__image img {
  box-shadow: 0 0 38px 0 #fff2;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .section__about {
    flex-direction: row;
  }

  .section__about__image {
    width: 100%;
    margin-right: 32px;
  }
}
