.section__about,
.section__career {
  padding: 0 16px 64px;
}

.section__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section__about__title {
  font-size: 26px;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(249, 203, 40, 1) 0%,
    rgba(255, 77, 77, 1) 100%
  );
}

.section__about p {
  color: var(--white-2);
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .section__about {
    flex-direction: row;
  }

  .section__about__image {
    width: 100%;
    margin-right: 32px;
  }
}
