:root {
  --textColor: #a1a1a1;
  --backgroundColor: #111111;
  --white: #f4f4f4;
  --white-2: #c6c6c6;
  --yellow: #f9cb28;
  --orange: #ff4d4d;

  --bodyFont: 'Inter', sans-serif;
  --borderRadius: 4px;
  --gradientDegree: 95deg;
}

* {
  box-sizing: border-box;
  color: var(--white);
  font-family: var(--bodyFont);
}

html,
body {
  background: var(--backgroundColor);
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

div#__next {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding: 64px 0;
  display: flex;
  flex: 1;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.gradient {
  background-size: 100%;
  background-clip: text;
  background-image: linear-gradient(
    var(--gradientDegree),
    var(--yellow) 0%,
    var(--orange) 100%
  );

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

@font-face {
  font-family: 'Inter';
  src: url('/static/font/Inter-Regular.woff2') format('woff2'),
    url('/static/font/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/static/font/Inter-Bold.woff2') format('woff2'),
    url('/static/font/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
