@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textColor: #a1a1a1;
  --bgColor: #16181d;
  --white: #f4f4f4;
  --white-2: #b20707;
  --gradient-primary: rgb(0, 124, 240);
  --gradient-secondary: rgb(0, 223, 216);

  --borderRadius: 4px;
  --gradientDegree: 90deg;
  --duration: 0.2s;
  --duration-2x: 0.4s;
}

* {
  box-sizing: border-box;
  color: var(--white);
  font-family: var(--inter-font);
}

html,
body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

html {
  background-color: var(--bgColor);
  font-family: var(--font-inter);
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

main {
  padding: 64px 16px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.gradient {
  background-size: 100%;
  background-clip: text;
  background-image: linear-gradient(
    var(--gradientDegree),
    var(--gradient-secondary) 0%,
    var(--gradient-primary) 75%
  );

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
