.header {
  color: var(--white);
  background-color: rgb(22 24 29 / 0.9);
  backdrop-filter: blur(16px);
  flex-direction: row;
  height: 58px;
  padding: 0 16px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.header__logo {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.header__logoBold {
  font-weight: 700;
}

.nav__ul {
  display: flex;
  list-style: none;
}

.nav__link {
  font-size: 14px;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
  transition: opacity var(--duration) ease-in-out;
}

.nav__link:hover {
  opacity: 1;
}
