.header {
  align-items: center;
  color: var(--white);
  background-color: rgba(17, 17, 17, 0.65);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 52px;
  max-width: 1024px;
  padding: 0 16px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__logo {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.header__logoBold {
  font-weight: 700;
}

.nav__ul {
  display: flex;
  list-style: none;
}

.nav__link {
  font-size: 14px;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
  transition: opacity var(--duration) ease-in-out;
}

.nav__link:hover {
  opacity: 1;
}
